main {
  padding-top: 60px; 
}
body{
  background-image: url("https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
}